node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
logs/
uploads/motos/*
!uploads/motos/.gitkeep
uploads/pecas/*
!uploads/pecas/.gitkeep
uploads/perfil/*
!uploads/perfil/.gitkeep
coverage/
.vscode/
.idea/
dist/
build/
